* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  color: white;
  font-family: arial;
}

.card {
  background-color: #444;
  width: 500px;
  height: 500px;
  margin: 0 10px;
  transition: 0.5s ease-in-out;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100vh;
  border: 1px solid #000;
}
